<p id="notice"><%= notice %></p>

<h1>Listado de Articulos</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.titulo %></td>
        <td><%= articulo.cuerpo %></td>
        <td><%= articulo.fecha %></td>
        <td><%= link_to 'Ver', articulo %></td>
        <td><%= link_to 'Modificar', edit_articulo_path(articulo) %></td>
        <td><%= link_to 'Borrar', articulo, method: :delete, data: { confirm: '¿Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Artículo', new_articulo_path %>
