<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @articulo.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @articulo.cuerpo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @articulo.fecha %>
</p>

<%= link_to 'Modificar', edit_articulo_path(@articulo) %> |
<%= link_to 'Regresar', articulos_path %>

<h3>Comentarios</h3>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulo.comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.autor %></td>
        <td><%= comentario.cuerpo %></td>
        <td><%= comentario.fecha %></td>
        <td><%= link_to 'Ver', comentario %></td>
        <td><%= link_to 'Modificar', edit_comentario_path(comentario) %></td>
        <td><%= link_to 'Borrar', comentario, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

